@font-face {
  font-family: "Amagro";
  src: url("../assets/fonts/Amagro.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Anticva";
  src: url("../assets/fonts/AntykwaTorunska-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}