.container {
  position: relative;

  .footer__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $light-yellow-text;
    padding: 0.4rem 0;
    margin: 0.4rem 0;
    background: $glass-bg;

    .author {
      margin: 0 1rem;

      a {
        text-decoration: none;
        color: $light-yellow-text;
        font-size: 1rem;
        text-shadow: $main-text-shadow;
      }
    }

    .course {
      a {
        display: block;
        margin: 0 1rem;
        background-image: url(../assets/icons/rs_school.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 5rem;
        height: 1.9rem;
      }

    }
  }
}