.snowflake {
  display: block;
  background-image: url(../assets/svg/snow.svg);
  width: 1rem;
  height: 1rem;
  position: absolute;
  background-size: cover;
  background-position: center;
  top: -1rem;
  z-index: 100;
  animation: fall linear forwards;
}

@keyframes fall {
  to {
    transform: translateY(100vh);
  }
}