$main-bg-color: #132d20;
$main-bg-color-opacity: #1b412ce3;
$light-green: #006941d9;
$light-green-hover: #659765de;
$orange-text: #e69732;
$light-yellow-text: #f6dac7;
$card-bg:#5890598f;
$main-text-color: #fc5954;
$main-text-shadow: 3px 2px 3px #11271b;
$shadow-border: 0px 0px 0px 4px #fedec070 inset;
$shadow-card: #000000c4 0px 5px 15px;
$glass-bg: radial-gradient(118.88% 606.86% at 0% 0%, #1f4933bf 0%, #fc595485 88%);
$active-filter: invert(10%) sepia(70%) saturate(200%) hue-rotate(69deg) brightness(85%) contrast(100%) drop-shadow(0px 0px 5px $orange-text);